<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ru.ilyamodder.weathersync"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <application
        android:name="ru.ilyamodder.weathersync.AppDelegate"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="ru.ilyamodder.weathersync.activity.CitiesActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:label="@string/cities"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ru.ilyamodder.weathersync.activity.WeatherActivity"
            android:label="@string/weather"
            android:screenOrientation="portrait" />

        <activity
            android:name="ru.ilyamodder.weathersync.activity.SyncSettingsActivity"
            android:label="@string/general_settings"/>

        <provider
            android:name="ru.ilyamodder.weathersync.sqlite.SQLiteContentProvider"
            android:authorities="ru.ilyamodder.weathersync"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name="ru.ilyamodder.weathersync.account.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="ru.ilyamodder.weathersync.sync.SyncService"
            android:exported="false"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

    </application>

</manifest>
